.panels{
    display:flex;
    justify-content: center;
    height: 88vh;
}

.right-panel, .left-panel{
    background-color: #8edb30;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 10px;
    width: 40%;
    
}

.left-panel{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5%;
}

.right-panel{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5%;
}

.left-panel .left{
    background-color: white;
    width: 95%;
    padding: 15px;
    height: 84vh;
    border-radius: 10px;
}

.right-panel .right{
    padding-bottom: 50px;
    background-color: white;
    width: 37.5vw;
    margin: auto;
    padding: 15px;
    /* position: relative;
    left: 10vw; */
    height: 84vh;
    border-radius: 10px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.form{
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.align{
    width: 80%;
    justify-content: left;
}


.left-panel::-webkit-scrollbar,
.right-panel::-webkit-scrollbar {
    width: 12px;
}
 
.left-panel::-webkit-scrollbar-thumb,
.right-panel::-webkit-scrollbar-thumb {
    background-color: #8edb30; /* Green scrollbar thumb */
    border-radius: 10px;
}
 
.left-panel::-webkit-scrollbar-thumb:hover,
.right-panel::-webkit-scrollbar-thumb:hover {
    background-color: #659e20; /* Darker green on hover */
}