<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Health | Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="/static/css/assets/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="/static/css/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/assets/css/slicknav.css">
    <link rel="stylesheet" href="/static/css/assets/css/flaticon.css">
    <link rel="stylesheet" href="/static/css/assets/css/gijgo.css">
    <link rel="stylesheet" href="/static/css/assets/css/animate.min.css">
    <link rel="stylesheet" href="/static/css/assets/css/animated-headline.css">
    <link rel="stylesheet" href="/static/css/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/static/css/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/static/css/assets/css/themify-icons.css">
    <link rel="stylesheet" href="/static/css/assets/css/slick.css">
    <link rel="stylesheet" href="/static/css/assets/css/nice-select.css">
    <link rel="stylesheet" href="/static/css/assets/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.js"></script>


</head>

<body>
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="/static/css/assets/img/logo/loder.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <header>
        <!--? Header Start -->
        <div class="header-area">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2 col-md-1">
                            <div class="logo">
                                <a href="index"><img src="/static/css/assets/img/logo/logo.png" alt="" height="50px"></a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10 col-md-10">
                            <div class="menu-main d-flex align-items-center justify-content-end">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="/index">Home</a></li>
                                            <li><a href="/about">About</a></li>
                                            <li><a href="/service">Services</a></li>
    
                            <li>
                                <div class="ui floating dropdown button">
                                    <div class="text">Profile</div>
                                    <i class="dropdown icon"></i>
                                    <div class="menu">
                                        <a class="item" href="/customer/Dashboard"><i class="circular olive user icon"></i> User Dashboard</a>
                                        <a class="item" href="/institute/Dashboard"><i class="circular olive users icon"></i> Institute
                                            Dashboard</a>
                                        <a class="item" href="#"><i class="circular olive users icon"></i> Active Plan</a>
                                        <a class="item" href="/logout"><i class="circular olive users icon"></i> Log-Out</a>
                                        <a class="item" href="#"><i class="circular olive users icon"></i> Subscription</a>
                                    </div>
                                </div>
                                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                                <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/semantic.min.js"></script>
                                <script>
                                    $('.ui.dropdown').dropdown({
                                        action: 'hide'
                                    });
                                </script>
                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <main>
        <!--? Slider Area Start-->
        <div class="slider-area slider-area2">
            <div class="slider-active dot-style">
                <!-- Slider Single -->
                <div class="single-slider  d-flex align-items-center slider-height2">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-xl-7 col-lg-8 col-md-10 ">
                                <div class="hero-wrapper">
                                    <div class="hero__caption">
                                        <h1 data-animation="fadeInUp" data-delay=".3s">Subscription</h1>
                                        <p data-animation="fadeInUp" data-delay=".6s">Now next step is to choose a plan which suites your Organization best .</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Slider Area End -->
        <section class="wantToWork-area">
            <div class="container">
                <div class="wants-wrapper w-padding2">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-xl-7 col-lg-9 col-md-8">
                            <div class="wantToWork-caption wantToWork-caption2">
                                <h2>Institute Plans</h2>
                                <p>Your Health, Your Data, Your Control</p>
                            </div>
                        </div>
                        <!-- <div class="col-xl-2 col-lg-3 col-md-4">
                            <a href="#" class="btn f-right sm-left">Take a Service</a>
                        </div> -->
                    </div>
                </div>
            </div>
        </section>
        <!--? Services Area Start -->
        <div class="service-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-center mb-50">
                            <div class="cat-icon">
                                <img src="assets/img/icon/services1.svg" alt="">
                            </div>
                            <div class="cat-cap">
                            <h5><a href="services.html">Monthly <br> <small style="font-size: 15px;"> Recommended</small></a></h5>
                            <p style="font-size: 40px; font-weight: 20px;">Rs 100 <small style="font-size: 20px;">/Month</small></p>
                            <p>
                                Unlock a world of efficient patient data management with our exclusive Gold Plan. Designed to cater to your needs,
                                this
                                plan offers a comprehensive package that includes
                            <ul
                                style="text-align: center; color: white; font-size: 18px; margin-bottom: 55px; margin-top: 64px; font-family: sans-serif;">
                                <li>1-Month Unlimited Access</li>
                                
                                <!-- <li>Store Up to 100 Patient Records</li> -->
                            </ul>
                            </p>
                                <a href="/institute/subscription/payment/1m/100" class="plus-btn"><i class="ti-plus"></i></a>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-center mb-50">
                            <div class="cat-icon">
                                <img src="assets/img/icon/services2.svg" alt="">
                            </div>
                            <div class="cat-cap">
                            <h5><a href="services.html">Yearly <br> <small style="font-size: 15px;"> Most Popular</small></a></h5>

                            <p style="font-size: 40px; font-weight: 20px;">Rs 75 <small style="font-size: 20px;">/Month</small></p>
                            <p>
                                Experience the pinnacle of healthcare management with our exclusive Platinum Plan. This premium offering is tailored
                                to
                                meet your comprehensive needs, boasting a host of exceptional features, including
                            <ul style="text-align: center; color: white; font-size: 18px; margin-bottom: 56px; font-family: sans-serif;">
                                <li>1-Year Unlimited Access</li>
                                <!-- <li>Store Up to 1000 Patient Records</li> -->
                            </ul>
                            </p>
                                <a href="/institute/subscription/payment/1y/75" class="plus-btn"><i class="ti-plus"></i></a>
                                <pre></pre>
                            </div>
                       
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-center mb-50">
                            <div class="cat-icon">
                                <img src="assets/img/icon/services3.svg" alt="">
                            </div>
                            <div class="cat-cap">
                                <h5><a href="services.html">2 Year<br> <small style="font-size: 15px;"> Pocket Friendly</small></a></h5>
                                <p style="font-size: 40px; font-weight: 20px;">Rs 60 <small style="font-size: 20px;">/Month</small></p>
                                <p>
                                    Experience healthcare management at its zenith with our exclusive Elite Titanium Plan. This unparalleled offering is
                                    meticulously crafted to cater to your most extensive needs, offering an array of extraordinary features, including
                                <ul style="text-align: center; color: white; font-size: 18px; margin-bottom: 56px; font-family: sans-serif;">
                                    <li>2-Year Unlimited Access</li>
                                    <!-- <li>Store Up to 10,000 Patient Records</li> -->
                                </ul>
                                </p>
                                <a href="/institute/subscription/payment/2y/60" class="plus-btn"><i class="ti-plus"></i></a>
                                <pre></pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
    <pre>
    
    


    
    
    
            </pre>
    
    
    <!--? About Law Start-->
    <section class="about-low-area mt-30">
        <div class="container">
            <div class="about-cap-wrapper">
                <div class="row">
                    <div class="col-xl-5  col-lg-6 col-md-10 offset-xl-1">
                        <div class="about-caption mb-50">
                            <!-- Section Tittle -->
                            <div class="section-tittle mb-35">
                                <h2>"Keeping Your Health on File, Not on Hold."</h2>
                            </div>
                            <p>Your Health, Your Data, Your Control</p>
                            <a href="/service" class="border-btn">Check Out Our Plans Now</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <!-- about-img -->
                        <div class="about-img">
                            <div class="about-font-img">
                                <img src="/static/css/assets/img/gallery/about2.png" alt="" style="border-radius:0px 0px 0px 80px;" height="550px">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Law End-->
    </main>
    <footer>
        <div class="footer-wrappr section-bg3" data-background="/static/css/assets/img/gallery/footer-bg.png">
            <div class="footer-area footer-padding ">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-xl-8 col-lg-8 col-md-6 col-sm-12">
                            <div class="single-footer-caption mb-50">
                                <!-- logo -->
                                <div class="footer-logo mb-25">
                                    <a href="index"><img src="/static/css/assets/img/logo/logo.png" alt=""
                                            height="50px"></a>
                                </div>
                                <div class="header-area">
                                    <div class="main-header main-header2">
                                        <div class="menu-main d-flex align-items-center justify-content-start">
                                            <!-- Main-menu -->
    
                                        </div>
                                    </div>
                                    <!-- social -->
                                    <div class="footer-social mt-50">
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                    </div>
    
                                    <pre>
    
    
                                <p>Privacy Policy | Terms of Service | © 2023 Medifiller. All rights reserved.</p>
                                </pre>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </footer>
    <div class="ui center aligned container">
        <img src="/static/img/apollo.png" alt="" height="50px">
    </div>
    <!-- JS here -->

    <script src="/static/css/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="/static/css/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/static/css/assets/js/popper.min.js"></script>
    <script src="/static/css/assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="/static/css/assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="/static/css/assets/js/owl.carousel.min.js"></script>
    <script src="/static/css/assets/js/slick.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="/static/css/assets/js/wow.min.js"></script>
    <script src="/static/css/assets/js/animated.headline.js"></script>
    <script src="/static/css/assets/js/jquery.magnific-popup.js"></script>

    <!-- Date Picker -->
    <script src="/static/css/assets/js/gijgo.min.js"></script>
    <!-- Nice-select, sticky -->
    <script src="/static/css/assets/js/jquery.nice-select.min.js"></script>
    <script src="/static/css/assets/js/jquery.sticky.js"></script>

    <!-- counter , waypoint,Hover Direction -->
    <script src="/static/css/assets/js/jquery.counterup.min.js"></script>
    <script src="/static/css/assets/js/waypoints.min.js"></script>
    <script src="/static/css/assets/js/jquery.countdown.min.js"></script>
    <script src="/static/css/assets/js/hover-direction-snake.min.js"></script>

    <!-- contact js -->
    <script src="/static/css/assets/js/contact.js"></script>
    <script src="/static/css/assets/js/jquery.form.js"></script>
    <script src="/static/css/assets/js/jquery.validate.min.js"></script>
    <script src="/static/css/assets/js/mail-script.js"></script>
    <script src="/static/css/assets/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="/static/css/assets/js/plugins.js"></script>
    <script src="/static/css/assets/js/main.js"></script>

</body>

</html>